* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v6_14443 {
  width: 360px;
  height: 640px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_14444 {
  width: 360px;
  height: 255px;
  background: rgba(56,163,165,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v6_14445 {
  width: 205px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 88px;
  left: 15px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v6_14463 {
  width: 330px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 15px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v6_14476 {
  width: 310px;
  height: 46px;
  background: url("../images/v6_14476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 25px;
  overflow: hidden;
}
.v6_14477 {
  width: 310px;
  height: 46px;
  background: rgba(56,163,165,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v6_14478 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 127px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v6_14479 {
  width: 310px;
  height: 46px;
  background: url("../images/v6_14479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 25px;
  overflow: hidden;
}
.v6_14480 {
  width: 310px;
  height: 46px;
  background: rgba(56,163,165,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v6_14481 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 93px;
  font-family: Montserrat;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v17_19 {
  width: 30px;
  height: 20px;
  background: url("../images/v17_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 43px;
  overflow: hidden;
}
.v17_20 {
  width: 30px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
